<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
	throwExceptions="false"
	internalLogLevel="Off"
	internalLogFile="NlogRecords.log">
	<!--Nlog内部日志记录为Off关闭。除非纠错，不可以设为Trace否则速度很慢，起码Debug以上-->
	<targets>
		<target xsi:type="File" name="fileTarget" fileName="c:\temp\console-example.log"
				layout="${date}|${level:uppercase=true}|${message} ${exception:format=tostring}|${logger}|${all-event-properties}" />
		<target xsi:type="Console" name="consoleTarget"
				layout="${date}|${level:uppercase=true}|${message} ${exception:format=tostring}|${logger}|${all-event-properties}" />
	</targets>
	<rules>
		<!--跳过所有级别的Microsoft组件的日志记录-->
		<logger name="Microsoft.*" final="true" />
		<logger name="*" minLevel="Info" writeTo="consoleTarget,fileTarget" />
	</rules>
</nlog>